RewriteEngine On

# Redirect non-www to www
RewriteCond %{HTTP_HOST} ^dortxtech\.com$ [NC]
RewriteRule ^(.*)$ https://www.dortxtech.com/$1 [L,R=301]

# React Router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]